body {
  margin: 0px;
}
.seat {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}

.leftseatcontainer {
  float:left;
  width:100%;
  line-height:53px;
  vertical-align:middle;
  border:0px solid #fff;
  text-align:right;    
}

.emptyleft {
  background-image: url(../img/empty_chair_left.png);
  vertical-align: middle;
  line-height: 40px; 
  margin: 5px; 
  float:right;
}

.emptytop {
  background-image: url(../img/empty_chair_top.png);
  margin: 0px auto;
  margin-bottom: 3px;
  vertical-align:bottom;
}

.emptyright {
  background-image: url(../img/empty_chair_right.png); 
  padding-left:43px;
  vertical-align: middle;
  line-height: 40px; 
  margin: 5px
}

.emptybottom {
  background-image: url(../img/empty_chair_bottom.png);
  margin: 0px auto;  
  margin-top: 3px;
}