body {
  margin: 0px;
  min-height: 480px;
}
.seat {
  margin: 0px auto; text-align: center;
  height: 40px;
  width: 40px;
}

.emptyleft {
  background-image: url(../img/empty_chair_face_right.png);  
}