body {
  margin: 0px;
  font-family: Arial;
  color: #fff;
  background-color: #000;
}

.grid {
  margin: 0px auto;
  width: 100%;
  height: 85%;
}
.grid td {
  text-align: center;
  font-size:0.8em;
}

#tablecontainer {
  height: 100%;
  width:100%;
  padding: 2px;
  color: #000;
}

#tabletop {
   -webkit-border-top-right-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px; 	
   -moz-border-radius-topright: 8px;
   -moz-border-radius-bottomright: 8px;
   background-color: #CACACA;
   height: 100%; 
   width: 75%;
   float:right;
}

#tablebottom {
   -webkit-border-top-left-radius: 8px;
   -webkit-border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px; 	
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-topleft: 8px;

   background-image: url(../img/logo.png);
   background-position: center;
   background-repeat: no-repeat;
   background-color: #7E4A94;
   height: 100%;
   width: 25%;  
}

.moneydisplay {
  font-size: 1.3em;
  font-weight: bold;
}